# Ignorar la carpeta target en cualquier lugar del proyecto
target/

# Excepciones específicas
!.mvn/wrapper/maven-wrapper.jar

# Ignorar archivos específicos de herramientas y entornos de desarrollo
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
